.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dialog_box {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  min-width: 300px;
  text-align: center;
  height: 200px;
  width: 400px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.btns {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

.btns button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Merriweather", serif; 
   font-weight: 1100; 
}

.btns button:first-child {
  background-color: #ccc;
}

.btns button:last-child {
  background-color: red;
  color: white;
}

.info_delete{
    margin-top:30px ;
    position: absolute;
    font-family: "Merriweather", serif; 
   font-weight: 1100; 
}

.deleteicon{
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease;
}

.deleteicon:hover{
   color: #ff6b6b;
    transform: scale(1.2);
}