.delete_food_btn{
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}
.delete_dialog_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.delete_food_box{
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    animation: popup 0.2s ease-in-out;
}

@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.delete_dialog_hading_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete_dialog_para_box{
    margin-top: 40px;
    font-family: "Merriweather", serif; 
   font-weight: 1100; 
}
.delete_btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.delete_btn button{
    padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Merriweather", serif; 
   font-weight: 1100;
}
.delete_btn :first-child{
     background-color: #ccc;
}
.delete_btn :last-child{
 background-color: red;
  color: white;
}
