 .food_item_btn {
  border: none;
  background: none;
  cursor: pointer;
}

/* Background overlay */
.edit_back_drop {
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Popup box */
.edit_container {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  animation: popup 0.2s ease-in-out;
}

/* Simple animation */
@keyframes popup {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.edit_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit_form input {
  padding: 8px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cancel_btn {
  background-color: #ccc;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.save_btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}