.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* पूरी स्क्रीन */
}

.mainArea {
  display: flex;
  flex: 1; /* navbar के नीचे पूरा हिस्सा ले */
  overflow: hidden;
}

/* Sidebar fix रहेगा */
.sidebar {
  width: 250px;
  background-color: #f75435;
  height: 100%;
  position: fixed;
  top: 60px; /* Navbar की height के बराबर */
  left: 0;
  overflow-y: auto;
}

/* Main content area */
.contentArea {
  margin-left: 250px; /* sidebar space */
  width: calc(100% - 250px);
  height: 100vh; /* navbar की height घटाई */
  /* height: calc(100vh - 80px); navbar की height घटाई */
  overflow-y: auto; /* 👈 अब यही scroll करेगा */
  overflow-x: hidden;
  /* background-color: #001f4d; तुम्हारा blue background */
  /* padding: 20px; */
}