.container{
     background-color: rgb(248, 193, 193);
    height: calc(100vh - 70px);
    width: calc(100vw - 250px);
    overflow-y: auto;
    overflow-x: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-family: "Merriweather", serif; 
   font-weight: 1100; 
   user-select: none;
}

table{
   width: calc(100vw - 250px);
   text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
    table-layout: fixed;
    
}
th{
    padding: 10px;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    background-color: rgb(250, 215, 215);
}
.td{
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    padding: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.td1{
    display: flex;
    align-items: center;
    justify-content: center;
}

