body{
    /* position: fixed; */
}
.Sidebar{
    height:652px;
    color: black;
    width: 250px;
    background-color: red;
    

}
.admin{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Pacifico", cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration:underline;   
    text-decoration-style:double;
    text-decoration-color:aqua;
    user-select: none;   
}
.coverlink{
    height: 560px;
    border-radius: 10px;
    width: 180px;
    background-color: rgb(250, 188, 188);
    margin-left: 30px;
    margin-top: 9px;
    display: flex;
    flex-direction: column;
}
.Icon{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 19px;
    color:rgb(75, 3, 3);
    font-family: "Merriweather", serif; 
    font-weight: 1100; 
}

.Icon:hover{
    background-color: rgb(255, 215, 215);
}